:root {
  --blue-grey: #637696;
  --squash: #e6b413;
  --green-blue: #00b178;
  --denim-blue-30: rgba(60, 90, 154, 0.3);
  --scarlet: #d0021b;
  --dark-lime-green: #86c306;
  --cerulean: #009cde;
  --nice-blue-7: rgba(23, 115, 166, 0.07);
  --dark-grey-blue: #3a4e6f;
  --cerulean-30: rgba(0, 156, 222, 0.3);
  --cerulean-005: rgba(0, 156, 222, 0.05);
  --golden-yellow: #f8c41c;
}
@font-face {
  font-family: AkkuratPro;
  src: local(AkkuratPro-Regular),
    url(../../fonts/AkkuratPro/AkkuratPro-Regular.otf);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: AkkuratPro;
  src: local(AkkuratPro-Bold), url(../../fonts/AkkuratPro/AkkuratPro-Bold.otf);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: CircularStd;
  src: local(CircularStd-Medium),
    url(../../fonts/Circular-Std-Font/Circular\ Std\ Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: CircularStd;
  src: local(CircularStd-Bold),
    url(../../fonts/Circular-Std-Font/Circular\ Std\ Bold.ttf);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Rubik;
  src: local(Rubik-Regular), url(../../fonts/Rubik/static/Rubik-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Rubik;
  src: local(Rubik-Bold), url(../../fonts/Rubik/static/Rubik-Bold.ttf);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: NunitoSans;
  src: local(NunitoSans-Regular),
    url(../../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
/* --------------------------- CSS RESETTER ----------------------------------- */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}
input,
label {
  cursor: text;
}
select {
  cursor: pointer;
}
button {
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* --------------------------- CSS RESETTER ----------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainWrapper {
  width: 1680px;
  background-color: #ffffff;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
   */
}
header {
  border: 1px solid rgb(255, 255, 255);
  width: 1680px;
  /* position: relative; */
  height: 350px;
  background-image: linear-gradient(to bottom, #f6fcff, #ffffff 96%);
  z-index: 1;
  /* margin: 0 0 1004px; */
}

.head_wrapper {
  padding: 30px 232px 42px 230px;
  display: flex;
  position: fixed;
  z-index: 999;
  /* border: 1px solid black; */
  background-color: #f6fcff;
}
.head_wrapper .company_logo {
  margin-right: 81px;
}
.head_wrapper .navbar {
  margin-top: 10px;
  margin-right: 197px;
  height: 20px;
  /* border: 1px solid black;  */
}
.head_wrapper .navbar ul li {
  display: inline-block;
}
.head_wrapper .navbar ul li a {
  text-decoration: none;
  width: 83px;
  height: 20px;
  margin: 0 40px 0 0;
  font-family: "AkkuratPro";
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 1px;
  color: var(--dark-grey-blue);
}
#about_us_link {
  margin-right: 0;
}
.head_wrapper .login_signup_container {
  display: flex;
  height: 50px;

  /* border: 1px solid black; */
}
.head_wrapper .login_signup_container select {
  margin: 0 30px 0 0;
  background-color: rgba(246, 252, 255, 0);
  /* #f6fcff */
  border: none;
  outline: none;
  cursor: pointer;
}
.head_wrapper .login_signup_container .change_language_container {
  /* border: 1px solid black; */
  display: flex;
  width: 80px;
  margin: 4px 30px 0px 0px;
  height: 40px;
}

.head_wrapper .login_signup_container .change_language_container img {
  height: 24px;
  width: 24px;
  border-radius: 20px;
  margin: 7px 5px 5px 0px;
}
.head_wrapper .login_signup_container .login_container > button {
  width: 110px;
  height: 46px;
  margin: 0 20px 0 0;
  padding: 11px 35px 15px;
  /* opacity: 0.1; */
  border-radius: 23px;
  background-color: #f6fcff;
  border: solid 2px var(--cerulean-30);
  font-family: AkkuratPro;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 1px;
  color: var(--cerulean-30);
  cursor: pointer;
}
.head_wrapper .login_signup_container .login_container > button:hover {
  background-color: #ffffff71;
}
.head_wrapper .login_signup_container .signup_container > button {
  width: 112px;
  height: 48px;
  margin: 0 0 0 20px;
  padding: 11px 28px 15px;
  border-radius: 23px;
  /* border: 2px solid rgba(0, 156, 222, 0.1); */
  border: none;
  background-color: rgba(0, 156, 222, 0.1);
  cursor: pointer;
}
.head_wrapper .login_signup_container .signup_container > button > span {
  width: 54px;
  height: 20px;
  font-family: AkkuratPro;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 1px;
  color: var(--cerulean);
}
.head_wrapper .login_signup_container .signup_container > button:hover {
  background-color: rgba(0, 156, 222, 0.2);
}
.cardSection {
  width: 100%;
  height: 482.4px;
  /* border: 1px solid black; */
  padding: 144px 236.4px 0px 237px;
  display: flex;
}
.featuresSection {
  position: absolute;
  width: 1680px;
  height: 1626.4px;
  margin: 54.8px 0 46.4px;
  background-image: linear-gradient(181deg, #f6fcff 10%, #ffffff 90%);
  /* background-image: linear-gradient(#f6fcff, #ffffff); */
  clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
  z-index: 10;
}
.bitcoinBg img {
  width: 349.5px;
  height: 678.8px;
  margin: 200px 0px 0px -120px;
  position: absolute;
  z-index: 20;
}
.featureBox {
  position: relative;
  width: 1680px;
  border: 3px sold blue;
  height: 500px;
}
/* .absolute {
  position: absolute;
} */
.sell3Steps {
  margin: 142px 0px 0px 0px;
}
.WhyBuySellSection {
  position: absolute;
  width: 1680px;
  height: 590px;
  z-index: 300;
  margin: 720px 0px 0px 0px;
  display: flex;
}
.WhyBuySellSection > img {
  border-radius: 15px;
}
.WhyBuySellContent .headTitle {
  width: 493px;
  height: 97px;
  font-family: Rubik;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-forest-green);
}
.WhyBuySellContent {
  margin: 0 0 0 80px;
}
.WhyBuySellContent .WhyBuycomponentContainer1 {
  margin: 40px 0px 0px 0px;
}
.WhyBuySellContent .WhyBuycomponentContainer2 {
  margin: 30px 0 0 0;
}
.signUpFloater {
  width: 580px;
  height: 120px;
  margin: 17px 224px 127px 0px;
  padding: 28px 35px 27px 36px;
  border-radius: 30px;
  box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.signUpFloater > h3 {
  width: 306px;
  height: 27px;
  margin: 8px 3px 19px 0;
  font-family: Rubik;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-forest-green);
}
.whatIsDogecoinSection {
  position: relative;
  margin: 1617px 0 0 0;
  padding: 0 188px 0 189px;
  /* border: 1px solid black; */
  height: 320px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.whatIsDogecoinSection .cardType {
  width: 281px;
  height: 315px;
  border-radius: 10px;
  /* padding: 79px 45px 73px 51px; */
  box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.04);
  border: solid 1px rgba(99, 118, 150, 0.2);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 40;
}
.whatIsDogecoinSection .cardType .cardTypeContainer {
  display: flex;
  margin: 33.9px 0 0 0;
  align-items: center;
  justify-content: space-between;
}
.whatIsDogecoinSection .cardType .cardTypeContainer img {
  margin-right: 10px;
}
.whatIsDogecoinSection .cardType .cardTypeContainer h3 {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-forest-green);
}
.whatIsDogecoinSection .mainSection {
  width: 600px;
  height: 315px;
  border-radius: 10px;
  padding: 32px 17px 27px 18px;
  box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.04);
  border: solid 1px rgba(99, 118, 150, 0.2);
  background-color: #ffffff;
}
.whatIsDogecoinSection .mainSection h2 {
  width: 364px;
  height: 47px;
  margin: 0 102px 20px 99px;
  font-family: Rubik;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-forest-green);
}
.whatIsDogecoinSection .mainSection p {
  width: 565px;
  height: 185px;
  /* margin: 24px 0 0; */
  padding: 0px 24px 70px 23px;
  font-family: NunitoSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-grey);
}
.whereCanSpend {
  margin: -95px 0 0 0;
}
#WhereCanSpendTitle {
  height: 100px;
  width: 1680px;
  text-align: center;
  margin: 140px 140px 20px 0px;
  position: absolute;
  z-index: 50;

  font-family: Rubik;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-forest-green);
}
#WhereCanSpendText {
  width: 1680px;
  height: 63px;
  text-align: center;
  margin: 195px 140px 20px 0px;
  padding: 0 420px 0 420px;
  position: absolute;
  z-index: 50;
  /* border: 1px solid black; */
  font-family: NunitoSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-grey);
}
.circularPhotoComponent {
  display: flex;
  justify-content: space-between;
  padding: 0 346px 0 347px;
  width: 1680px;
  height: 400px;
  /* background-color: black; */
  margin: 422px 0 0 0;
}
#firstImgComp {
  margin: 50px 0 0 0;
}
.IsDogeCoinForMeSection {
  display: flex;
  position: absolute;
  margin: 784px 0 0 0;
  z-index: 50;
}
.IsDogeCoinForMeSection > img{
 margin: 0 89px 0 0;
}
.IsDogeCoinForMeSection .maincontent{
  display: flex;
  flex-direction: column;
  margin: 68px 0 0 0;
}
.IsDogeCoinForMeSection .maincontent h2{

  font-family: Rubik;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  margin: 0 0 20px 0 ;
  color: var(--dark-forest-green);
}
.IsDogeCoinForMeSection .maincontent p{
  width: 563px;

  margin: 0 0 20px 0;
  font-family: NunitoSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: left;
  color: var(--blue-grey);
}
.footerSection{
  width: 1680px;
  margin-top: 1531px;
}
.footerSection > .hl{
  /* width: 1200px; */
  height: 0;
  margin: 0px 210.5px 0 189.5px;
  border: solid 1px rgba(99, 118, 150, 0.2);
}
.footerSection .mainContainer{
  padding: 30px 248px 42px 200px;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
}
.footerSection .mainContainer .row1{
  display: flex;
}
.footerSection .mainContainer .row1 > div{
  display: flex;
  flex-direction: column;
}
ul li{
  list-style-type: none;
}
#footerLogo{
  height: 35px;
  width: 130px;
  margin: 0 0 25px 0;
}
#reviewImg{
  margin: 0 0 11px 0;
  width: 256px;
  height: 56px;
}
.mainContainer .row1 .addressSection p{
  width: 300px;
  height: 22px;
  margin: 0px 287px 127px 0;
  opacity: 0.5;
  font-family: AkkuratPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--blue-grey);
}
.mainContainer .row2 ul li{
  display: inline-block;
  margin: 0 30px 0 0  ;
  font-family: AkkuratPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--blue-grey);
}
.mainContainer .row3{
  height: 44px;
  margin: 58px 0px 0 0;
  opacity: 0.5;
  font-family: AkkuratPro;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: var(--blue-grey);
}
.mainContainer .row1 h2{
  margin: 0 206px 16px 0;
  font-family: AkkuratPro;
  font-size: 14px;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 1px;
  color: #000000;
}
.mainContainer .row1 ul li a{
  font-family: AkkuratPro;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: normal;
  color: var(--blue-grey);
  text-decoration: none;
}
.socialLinks .socialIcons{
  margin: 0 10px 0 0;
}