.commonCard.pink.small{
    width: 331.6px;
    height: 198.4px;
    padding: 20.3px 0px 27.9px 29.6px;
    border-radius: 32.5px;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(99, 118, 150, 0.2);
    background-color: #fff6f6;
}
.commonCard.pink.small .cardNumber{
    margin: 34.2px 0px 0px 0px;
}
.commonCard.pink.small .cardNumber span{
    margin: 0 6px 0 0;
    opacity: 0.7;
}
.commonCard.pink.small .cardNumber .dots{
    margin: 0px 0px 0px 34px;
}
.commonCard.pink.small .holderExpirySection{
    display: flex;
    margin: 10px 0px 0px 0px;
}
.commonCard.pink.small .holderExpirySection p{
    height: 19px;
    
    font-family: NunitoSans;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.57;
    letter-spacing: normal;
    text-align: left;
    color: var(--blue-grey);
}
.commonCard.pink.small .holderExpirySection h3{
    height: 19px;
    font-family: NunitoSans;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.57;
    letter-spacing: normal;
    text-align: left;
    color: var(--blue-grey);
}
.commonCard.pink.small .cardHolderSection{
    margin-right: 122px;
    /* width: 120px; */
}
.commonCard.blue.large{
    width: 415.2px;
    height: 248.4px;
    padding: 25.6px 40.1px 34.5px 36.3px;
    border-radius: 32.5px;
    margin: 20px 0px 0px -35px;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(99, 118, 150, 0.2);
    background-color: #f6fcff;
    z-index: 100;
}
.commonCard.blue.large .cardNumber{
    margin: 50px 0 0 0;
}
.commonCard.blue.large .cardNumber .dots{
    margin: 0 0 0 41px;
}
.commonCard.blue.large .cardNumber span{
    font-size: 18px;
    margin: 0px 7.5px 0 0;
    opacity: 0.7;
}
.commonCard.blue.large .holderExpirySection{
    margin: 37px 0px 0px 0px;
    display: flex;
}
.commonCard.blue.large .holderExpirySection p{
    margin: 0px;
    font-family: NunitoSans;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 2.59; */
    letter-spacing: normal;
    text-align: left;
    color: var(--blue-grey);
}
.commonCard.blue.large .holderExpirySection h3{
    margin: 0px;
    font-family: NunitoSans;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.59;
    letter-spacing: normal;
    text-align: left;
    color: var(--blue-grey);
}
.commonCard.blue.large .holderExpirySection .cardHolderSection{
    margin: 0px 151px 0px 0px;
}

