.homeContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ccc;
}
.itemContainer{
  width: auto;
  height: 100px;
  height: 100px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid red;
  margin: 5px;
}
.itemContainer h3{
  color: #000;
  font-size: 22px;
  font-weight: bold;
}
.itemContainer button{
  width: auto;
  height: 30px;
  padding: 0px 16px;
  border-radius: 15px;
  background-color: lightblue;
  cursor: pointer;
}